<!DOCTYPE html>
<html lang="en" ng-app="SeobotApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.scss">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <script src="/index.js"></script>

    <title>SEOBot - Dashboard</title>
</head>

<body ng-controller="SeobotCtrl as seobotCtrl">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="/">SEOBot</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Product</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="./"><b>Try SEOBot for Business</b><span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-static-top/">Log in</a></li>
                    <li><a href="../navbar-fixed-top/">Log Out</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

    <!-- Search bar -->
    <div class="input-group">
        <form name="seobotCrawl" novalidate ng-submit="seobot.crawl()">
            <input type="text" class="form-control" placeholder="Enter Domain URL" ng-model="seobotCtrl.url" required>
            <span class="input-group-btn">
        <button class="btn btn-default" type="submit" ng-click="seobotCtrl.crawl()" ng-disabled="seobotCrawl.$invalid">Go!</button>
      </span>
    </div>
    </br>
    </br>

    <!-- TEMP CONTAINTER -->
    {{ seobotCtrl.title }}

    <!-- Crawled Data Table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>URL</th>
                <th>Title</th>
                <th>Meta Description</th>
                <th>H1-1</th>
                <th>H2-1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">https://www....</th>
                <td>....</td>
                <td>....</td>
                <td>....</td>
                <td>....</td>
            </tr>
            <tr>
                <th scope="row">https://www....</th>
                <td>....</td>
                <td>....</td>
                <td>....</td>
                <td>....</td>
            </tr>
            <tr>
                <th scope="row">https://www....</th>
                <td>....</td>
                <td>....</td>
                <td>....</td>
                <td>....</td>
            </tr>
        </tbody>
    </table>
</body>

</html>